.button-link{
    color: #b5d77a;
}

.view-more{
    color: white;
    border:  2px solid white;
    border-radius: 50px;
    padding: 10px 25px;
    background-color:transparent;
    margin-bottom: 100px;
    bottom: 10px;
    position: absolute;
    align-items: center;
    padding-left: px;
}

.follow{
    color: #3a5b96;
    border:  2px solid #3a5b96;
    border-radius: 50px;
    padding: 10px 25px;
    background-color:transparent;

}

.button-item{
    color:#a0a2a5;
}
.drop-item{
    color:#a0a2a5;
}