
.footer{    
    margin-top: 60px;
    height: 400px;
}


.footer-column {
    height: 400px;
    float: left;
    width: 20%;
    padding: 20px;
  }
  .footer-column a{
    font-size: 13px;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .footer-column p {
      font-size: 13px;
      font-weight: 600;
      color: black;
      text-align: left;
  }

  .social-media{
      padding: 10px;
      padding-left: 100px;
  }

  .footer .adress p {
      font-size: 13px;

  }