
.footer{
    margin-top: 60px;
    height: ;
}


.footer-column {
    float: left;
    width: 20%;
    padding: 40px;
    height: 450px;
  }
  .footer-column a{
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .footer-column p {
      color: black;
      text-align: left;
  }

  .social-media{
      text-align: right;
      float: left;
  }