
@media screen and (min-width: 1024px){
    .hero-section .hero-content .hero-image{
        position:absolute;
        top: 0;
        left: 0;
        right: -350px;
        z-index: 1;
    
    }
    
    
}

/* slider */

.slideshow-container {
  max-width: 900px;
  position: left;
  margin-left: 120px;
}
.dots {
    width: 200px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
  }
  
.mySlslidesides {
  display: none;
}

.text1 {
  font-weight: bold;
  color: #f2f2f2;
  font-size: 48px;
  padding: 8px 12px;
  position: absolute;
  margin-left: 25px;
  bottom: 20px;
  width: 100%;
  text-align: left;
  margin-bottom: 300px;
}


  .text2{
    color: #f2f2f2;
    font-weight: bold;
    font-size: 48px;
    padding: 20px 12px;
    margin-left: 20px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 300px;
  }
 
  .text3 {
    color: #f2f2f2;
    font-weight: bold;
    font-size: 48px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: right;
    margin-bottom: 300px;
    margin-left: -25px;
  }
  
  .subtext1  p{
    color: #f2f2f2;
    font-size: 14px;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: left;
    margin-bottom: 200px;
    margin-left: 25px;
}
.subtext2  p{
    color: #f2f2f2;
    font-size: 14px;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
}
.subtext3  p{
    color: #f2f2f2;
    font-size: 14px;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    margin-left: -25px;
    bottom: 8px;
    width: 100%;
    text-align: right;
    margin-bottom: 200px;
}


.dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 9px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* hero */
#sales{
  position: relative;
}
.hero-image h3{
  padding: 15px;
}

.hero-image{
  padding-left: 950px;
  text-align: center;
  font-family: inherit;
}

/* banner */
.banner{
  position: relative;
  color: white;
  text-align: center;
  
}
.banner img{
  width: 100%;
}
.centered{
  position: absolute;
  margin-left: 750px;
  font-size: 48px;
  top: 40%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  float: left;
}

.centered2{
  margin-left: 750px;
  position: absolute;
  font-size: 14px;
  top: 50%;
  bottom: 70%;
  transform: translate(-50%, -50%);
  width: 20%;
  float: left;
}


/* popular items */
.popular-items{
  
  height: 800px;
  background-color: #262a32;
}
.popular-items h2{
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 60px;
}

.box{
  width: 271px;
  height: 261px;
  border-radius: 10px ;
  overflow: hidden;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
}

.slide-img img{
  width: 370px;
  height: 318px;
  object-fit: cover;
  box-sizing: border-box;
}

