
.error-page {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 40px;
   
}
.header{
    text-align: center;
}

   .content-left {
        margin-left: 90px;
  
    }

    .exclamation {
        color: #98c93c;
        font-size: 90px;
        font-weight: 900;
        margin-left: 100px;
    }

    .error-page .content-right {
        justify-content: right;
        width: 100%;
        height: auto;

    }
   

    .content-right p{
        font-size: 22px;
        font-weight: 900;
        margin-left: 130px;
        width: 400px;
    }
    


    .error-page .link {
        font-size: 14px;
        color: #98c93c;
        margin-left: -400px;
        margin-top: 80px;

    }


