@media screen and (min-width: 1024px) {
  .hero-section .hero-content .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: -350px;
  }
}
/* slider */
.slideshow-container {
  max-width: 900px;
  position: left;
  margin-left: 120px;
}

.dots {
  width: 200px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
}

.mySlslidesides {
  display: none;
}

.text1 {
  font-weight: bold;
  color: #f2f2f2;
  font-size: 48px;
  padding: 8px 12px;
  position: absolute;
  margin-left: 25px;
  bottom: 20px;
  width: 100%;
  text-align: left;
  margin-bottom: 300px;
}

.text2 {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 48px;
  padding: 20px 12px;
  margin-left: 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 300px;
}

.text3 {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 48px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: right;
  margin-bottom: 300px;
  margin-left: -25px;
}

.subtext1 p {
  color: #f2f2f2;
  font-size: 14px;
  align-items: center;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  margin-bottom: 200px;
  margin-left: 25px;
}

.subtext2 p {
  color: #f2f2f2;
  font-size: 14px;
  align-items: center;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 200px;
}

.subtext3 p {
  color: #f2f2f2;
  font-size: 14px;
  align-items: center;
  padding: 8px 12px;
  position: absolute;
  margin-left: -25px;
  bottom: 8px;
  width: 100%;
  text-align: right;
  margin-bottom: 200px;
}

.dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 9px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* hero */
#sales {
  position: relative;
}

.hero-image h3 {
  padding: 15px;
}

.hero-image {
  padding-left: 950px;
  text-align: center;
  font-family: inherit;
}

/* banner */
.banner {
  position: relative;
  color: white;
  text-align: center;
}

.banner img {
  width: 100%;
}

.centered {
  position: absolute;
  margin-left: 750px;
  font-size: 48px;
  top: 40%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  float: left;
}

.centered2 {
  margin-left: 750px;
  position: absolute;
  font-size: 14px;
  top: 50%;
  bottom: 70%;
  transform: translate(-50%, -50%);
  width: 20%;
  float: left;
}

/* popular items */
.popular-items {
  padding: 25px;
  height: 500px;
  background-color: #262a32;
}

.popular-items2{
  display: none;
  padding: 25px;
  height: 500px;
  background-color: #262a32;
}
.load-more-section{
  padding: 30px;
  height: 90px;
  background-color: #262a32;
}

.popular-items .row {
  margin-left: 110px;
}
.popular-items2 .row {
  margin-left: 110px;
}

.popular-items h2 {
  margin: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.popular-items2 h2 {
  margin: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.box {
  width: 271px;
  height: 366px;
  position: relative;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.box2 {
  width: 271px;
  height: 366px;
  position: relative;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-img img {
  width: 100%;
  height: 265px;
  object-fit: cover;
  box-sizing: border-box;
}

.detail-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}

.type {
  display: block;
  flex-direction: column;
}

.type a {
  font-size: 16px;
  color: black;
  text-align: center;
  margin: 5px 0px;
  font-weight: 200;
  letter-spacing: 1px;
  padding-right: 8px;
}

.type .price a {
  text-align: center;
  margin-left: 20px;
}

.type span {
  color: #ffffff;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(66, 214, 168, 0.6), rgba(41, 198, 138, 0.7), rgba(41, 190, 111, 0.8));
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(200, 100, 138, 0.7), rgba(154, 98, 144, 0.8), rgba(93, 79, 127, 0.8));
  display: flex;
  justify-content: center;
  align-items: left;
  
}
.type2 {
  flex-direction: column;
  z-index: 2051;
}

.type2 a {
  font-size: 20px;
  color: white;
  text-align: left;
  margin: 5px 0px;
  font-weight: 200;
  padding-right: 10px;
  margin-bottom: 100px;
}

.overlay {
  visibility: hidden;
}

.box:hover .overlay {
  visibility: visible;
}




@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}



/*# sourceMappingURL=section.css.map */
