
.services {
    background: #45413e;
}

.services .whrapper {
    
        margin-left: 20px auto;
        width: 1200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0 30px 0;

    }

.services .facility {
        display: flex;
        padding: 0 15px 0 20px;
        justify-content: space-between;


    }
 .img {
        height: 57px;
    }

.services .image {
        max-height: 67px;
        width: auto;
        margin: 0 80px;
    }

 .services .description {
        position: relative;
    }

.services .title {
    
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        
    }

 .services .subtitle {
        width: 145px;
        color: #84807D;
        font-size: 14px;

    }
